layout {
    default_tab_template {
        pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
        children
    }
    tab focus=true name="nvim" split_direction="Horizontal" {
        pane {
          command "nvim"
        }
    }
    tab name="cmds" split_direction="Horizontal" {
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
session_name "ws"
attach_to_session true
