/* 当前标签页选中效果 */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #fc28a8, #03edf9) !important;
  opacity: 1;
  z-index: 6;
}

/* 隐藏滚动条 */
.monaco-scrollable-element .scrollbar
{
  width: 0 !important;
  height: 0 !important;
}

